body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}
#stars {
  background-image: url(stars.jpg) no-repeat center center / cover;
}
#stars {
  width: 200%;
  height: 600px;
  background-image: url(stars.jpg);
  background-attachment: scroll;
  background-size: cover;
  -webkit-animation: movingStars 25s linear infinite;
  -moz-animation: movingStars 25s linear infinite;
  -o-animation: movingStars 25s linear infinite;
}

#info {
  text-align: center;
}
#info h1 {
  font-size: 3rem;
  background-color: rgb(22, 51, 129);
  color: white;
  padding: 10px;
}

#info p {
  font-size: 1.8rem;
  background-color: rgb(128, 157, 170);
}

/* Animation Time ! */
@keyframes movingStars {
  0% {
    margin-left: 0%;
  }
  100% {
    margin-left: -100%;
  }
}
